src/main/resources/matches.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://pltracker.com/match"
           targetNamespace="http://pltracker.com/match"
           elementFormDefault="qualified">

  <xs:element name="recordResultRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dbMatchId" type="xs:long"/>
        <xs:element name="homeScore" type="xs:int"/>
        <xs:element name="awayScore" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="recordResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="updatedId" type="xs:long"/>
        <xs:element name="status" type="xs:string"/>
        <xs:element name="homeScore" type="xs:int"/>
        <xs:element name="awayScore" type="xs:int"/>
        <xs:element name="message" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="recordResultByTeamsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="homeTeamId" type="xs:long"/>
        <xs:element name="awayTeamId" type="xs:long"/>
        <xs:element name="homeScore" type="xs:int"/>
        <xs:element name="awayScore" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="recordResultByTeamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="updatedId" type="xs:long"/>
        <xs:element name="status" type="xs:string"/>
        <xs:element name="homeScore" type="xs:int"/>
        <xs:element name="awayScore" type="xs:int"/>
        <xs:element name="message" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
